<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <object>
        <div class="main">
            <div class="prvi_dio">
                <div class="links">
                    <span><strong>Sadržaj</strong></span>
                    <div class="home">
                        <a href="../index.html" target="_parent"> Naslovnica </a>
                    </div>
                    <div class="products">
                        <a href="../products.html" target="_parent"> Proizvodi </a>
                    </div>
                    <div class="about">
                        <a href="../about.html" target="_parent"> O nama</a>
                    </div>
                    <div class="contacts">
                        <a href="../contact.html" target="_parent"> Kontakt</a>
                    </div>
                </div>
            </div>
            <div class="kontakt">
                <span><strong>Javite nam se!</strong></span><br>
                <span><strong>Email:</strong>gpukriticarshop@gmail.com</span><br>
                <span><strong>Tel:</strong>097 4477638</span><br>
                <span><strong>Adresa:</strong>Jure Jurića 44 22213 Pirovac</span><br>
            </div>
            <div class="illegals">
                <div>
                    <a href="../terms.html"> Uvjeti poslovanja</a>
                </div>
                <div>
                    <a href="../terms.html"> Uvjeti korištenja</a>
                </div>
                <div>
                    <a href="../privacy.html"> Pravila privatnosti</a>
                </div>
                <div>
                    <a href="../cookies.html">Pravila kolačića</a>
                </div>
            </div>
            <div class="mapa">
                <p>Gdje se nalazmo</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7254.230432169053!2d15.67820684209672!3d43.81761716814757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1705252414989!5m2!1shr!2shr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="rights">
                <div class="copyright">
                    <span>Autorska prava © 2024 GpuKritičarShop</span><br>
                    <span>Sva prava su zadržana</span>
                </div>

            </div>

        </div>
    </object>
</body>
</html>