<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/javascript.js"></script>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div>
                <div class="banner">
                    <img src="../Slike/images/giphy.gif" alt="gifbannera">
                </div>
                <div class="prvi_red">
                   <div class="mail">
                        <a id="em" href="www.gmail.com" target="_blank"><img class="icon" src="../Slike/ikone/envelope-at.svg" alt="Link za mail">  gpukriticar@gmail.com</a>
                    </div>
                    <div class="telefon">
                        <img class="icon" src="../Slike/ikone/phone.svg" alt="Broj Telefona">097 4477638
                    </div>
                    <div class="socialmedia">
                        <div class="instagram">
                            <a id="in" href="https://www.instagram.com/" target="_blank"><img class="icon" src="../Slike/ikone/instagram.svg" alt="Link za Instagram"></a>
                        </div>
                        <div class="facebook">
                            <a id="fb" href="https://www.facebook.com" target="_blank"><img class="icon" src="../Slike/ikone/facebook.svg" alt="Link za Facebook"></a>
                        </div>
                        <div class="twitter">
                            <a id="tw" href="https://twitter.com" target="_blank"><img class="icon" src="../Slike/ikone/twitter-x.svg" alt="Link za Twitter"></a>
                        </div>
                        <div class="whatsapp">
                            <a id="wp" href="https://www.whatsapp.com/gpukriticar/" target="_blank"> <img class="icon" src="../Slike/ikone/whatsapp.svg" alt="Link za whatsapp"></a>
                        </div>
                    </div>

                    <div class="pretraži">
                        <input id="pretraži_trg" type="text" placeholder="Pretraži trgovinu">
                    </div>
                    <div class="košarica">
                        <a href="../cart.html"></a><img id="košara" class="icon" src="../Slike/ikone/minecart.svg" alt="Košarica stvari"></button>

                    </div>

                </div>
                <div class="drugi_red">
                    <div class="logo">
                        <a id="gpulogo" href="index.html"> <img class="icon" src="../Slike/ikone/reshot-icon-best-graphics-YWNP5SJF43.svg" alt="Logo" height="100px" width="100px">
                    </div>
                    
                    <div class="onama">
                        <a href="about.html">O nama</a>
                        <a href="contact.html">Kontakt</a>
                        <a href="blog.html">Blog</a>
                        <a href="products.html">Proizvodi</a>
                    </div>


                </div>
                
                
        </div>
    </header>
</body>
</html>